
<%- include('head', {pagetitle: 'Spacecraft Comparator', id: 'homepage', extraHead: '<link rel="preload" href="./spline/scene.json" as="fetch">'}) %> 

        <main class="container">
            <div class="row">
                <div id="title" class="col-12">
                    <h1 id="intro-title-main">Welcome</h1>
                    <h4 id="intro-title-username"><%= loggedInUser.username %>,</h4>
                    <h2 id="intro-title-sub">to the<br>Star Wars Spacecraft Comparator</h2>
                </div>
                <div id="begin" class="col-12">
                    <a class="btn btn-darks" href="/list">BEGIN THE JOUNREY</a>
                </div>
                <p id="canvas-p">(Feel free to have a look at this beauty)</p>
            </div>
            <div id="container" >
                <img src="/assets/laat.webp">
            </div>
        </main>

<%- include('footer') %>

<%- include('closing') %> 
