<li class="m-left-auto">
    <a id="logged-in-user">
        <img id="user-profile-pic" src="/assets/users/<%= loggedInUser.imageName !== 'undefined' ? loggedInUser.imageName : 'default_user'%>.png">
        Hello, <%= loggedInUser %>!
    </a>
</li>