
<div id="user-ops"class="hidden">
    <a id="addpic-button" class="user-ops-button" href="/users/<%= loggedInUser._id %>/addpic">
        Add picture
    </a>
    <a id="logout-button" class="user-ops-button" href="/logout">
        Log out
    </a>
</div>
