body{
    background-color: #181819;
}

#intro .container{
    text-align: center;
}

div[class*="container"]{
    padding: 0;
}

#intro .title{
    text-align: center;
}

#intro-title-main, #intro-title-sub{
    color: #ffe81f;
}